*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#quaternary {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#quaternary.about {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#quaternary.physicaltherapy, #quaternary.occupationaltherapy, #quaternary.speechtherapy, #quaternary.therapeuticrecreation, #quaternary.childlife {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#quaternary.careteam {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#quaternary.eat {
	background: url(../images/bk_secondlevel_eat_orange.jpg) top center no-repeat;
}

#quaternary.relax {
	background: url(../images/bk_secondlevel_relax_yellow.jpg) top center no-repeat;
}

#quaternary.tv {
	background: url(../images/bk_secondlevel_tv_purple.jpg) top center no-repeat;
}

#quaternary #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#quaternary #banner p	{
	width: 1200px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	font-weight: 500px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#quaternary #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#quaternary #label	{
	width: 525px;
	height: 77px;
	margin: 127px 0px 0px 40px;
	float: left;
	position: absolute;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	

}

#quaternary #label p	{
	width: 420px;
	height: 77px;
	font-size: 44px;
	line-height: 77px;
	font-weight: 800px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}

#quaternary #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#quaternary #selections	{
	width: 548px;
	min-height: 60px;
	margin: 230px 0px 0px 40px;
	float: left;
	position: absolute;
}

#quaternary #selections ul {
	list-style-type: none;
}

#quaternary #selections a	{
	width: 513px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	font-weight: 600px;
	padding-left: 35px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	

}

#quaternary #selections a.back	{
	font-size: 30px;
	margin-bottom: 10px;
}

#quaternary.physicaltherapy #selections a.active, 
#quaternary.occupationaltherapy #selections a.active,
#quaternary.speechtherapy #selections a.active,
#quaternary.therapeuticrecreation  #selections a.active,
#quaternary.childlife #selections a.active,
#quaternary.physicaltherapy #selections a.hover, 
#quaternary.occupationaltherapy #selections a.hover,
#quaternary.speechtherapy #selections a.hover,
#quaternary.therapeuticrecreation  #selections a.hover,
#quaternary.childlife #selections a.hover,
#quaternary.about #selections a.active, #quaternary.about #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#quaternary.careteam #selections a.active, #quaternary.careteam #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#quaternary.eat #selections a.active, #quaternary.eat #selections a:hover	{
	background: rgba(245,128,37,1.00);
}

#quaternary #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#quaternary.physicaltherapy #background,
#quaternary.occupationaltherapy #background,
#quaternary.speechtherapy #background {
	background-image: url(../images/img_care_therapy.jpg); 
}

#quaternary.therapeuticrecreation  #background {
	background-image: url(../images/img_care_therap-rec.jpg); 
}

#quaternary.childlife #background {
	background-image: url(../images/img_care_childlife.jpg ); 
}

#quaternary #background.textoverlay {
	opacity: 0.1; 
}

#quaternary #selection	{
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#quaternary #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#quaternary #selection #body	{
	width: 625px;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#quaternary #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#quaternary #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#quaternary #selection #body #nextpage:hover, #quaternary #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#quaternary #selection #body p	{
	width: 665px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 20px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#quaternary #selection #body p.active	{
	display: inherit;
}
	
#quaternary #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#quaternary #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
}

#quaternary #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#quaternary #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#quaternary #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#quaternary #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#quaternary #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#quaternary #selection #body p.middle	{
	margin-top: 200px;
}

#quaternary #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#quaternary #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#quaternary #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#quaternary #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#quaternary #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#quaternary #selection #body p.nomargin	{
	margin-top: 0px;
}

#quaternary #selection #body ul.topmargin,
#quaternary #selection #body p.topmargin	{
	margin-top: 50px;
}

#quaternary #selection #body p.lower	{
	margin-top: 100px;
}

#quaternary #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#quaternary #selection #body p.leftmargin	{
	margin-left: 50px;
}

#quaternary #selection #body p.highlight,
#quaternary #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#quaternary #selection #body p.lightcolor,
#quaternary #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#quaternary #selection #body p.nocolor,
#quaternary #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#quaternary #selection #body p.italic,
#quaternary #selection #body p span.italic	{
	font-style: italic;
}


/* quaternary.noimages */

#quaternary.noimages #background {
	display: none;
}

/* quaternary.lightdark */

#quaternary.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#quaternary.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* quaternary.darklight */

#quaternary.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#quaternary.darklight #banner p	{
	color: rgba(68,85,95,1.00);
}

#quaternary.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#quaternary.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#quaternary.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#quaternary.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#quaternary.darklight #selection body p,
#quaternary.darklight #selection body p span	{
	color: rgba(23,62,89,1.00);
}

#quaternary.darklight #selection #heading,
#quaternary.darklight #selection #body,
#quaternary.darklight #selection #body p,
#quaternary.darklight #selection #body p span,
#quaternary.darklight #selection #body ul,
#quaternary.darklight #selection #body ul li,
#quaternary.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}
