*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#secondary {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#secondary.aboutus {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#secondary.careteam {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#secondary.directory {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#secondary.whattoexpect {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#secondary.patientmeals ,
#secondary.visitormeals ,
#secondary.eat {
	background: url(../images/bk_secondlevel_eat_orange.jpg) top center no-repeat;
}

#secondary.relax {
	background: url(../images/bk_secondlevel_relax_yellow.jpg) top center no-repeat;
}

#secondary.tv {
	background: url(../images/bk_secondlevel_tv_purple.jpg) top center no-repeat;
}

#secondary #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#secondary #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	font-weight: 500px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#secondary #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#secondary #label	{
	width: 525px;
	height: 77px;
	margin: 127px 0px 0px 40px;
	float: left;
	position: absolute;
}

#secondary #label p	{
	width: 430px;
	height: 77px;
	font-size: 42px;
	line-height: 77px;
	font-weight: 800px;
	margin: 0px 0px 0px 30px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#secondary #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#secondary #instructions	{
	width: 525px;
	height: 77px;
	margin: 427px 0px 0px 40px;
	float: left;
	position: absolute;
}

#secondary #instructions p	{
	width: 420px;
	height: 77px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 800px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#secondary #selections	{
	width: 420px;
	min-height: 55px;
	margin: 221px 0px 0px 40px;
	float: left;
	position: absolute;
}

#secondary #selections ul {
	list-style-type: none;
}

#secondary #selections a	{
	width: 515px;
	height: 53px;
	font-size: 40px;
	line-height: 55px;
	font-weight: 600px;
	padding-left: 35px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
}

#secondary #selections a.back	{
	font-size: 30px;
	margin-bottom: 5px;
}

#secondary.aboutus #selections a.active, #secondary.aboutus #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.careteam #selections a.active, #secondary.careteam #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.directory  #selections a.active, #secondary.directory #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.whattoexpect #selections a.active, #secondary.whattoexpect #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.patientmeals a.active, #secondary.patientmeals #selections a:hover	,
#secondary.visitormeals a.active, #secondary.visitormeals #selections a:hover	,
#secondary.eat #selections a.active, #secondary.eat #selections a:hover	{
	background: rgba(245,128,37,1.00);
}

#secondary #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#secondary.aboutus #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#secondary.careteam #background	{
	background-image: url(../images/img_care_therapy.jpg); 
}

#secondary.directory #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#secondary.whattoexpect #background	{
	background-image: url(../images/img_learn_whattoexpect.jpg); 
}

#secondary.patientmeals #background ,
#secondary.visitormeals #background ,
#secondary.eat #background {
	background-image: url(../images/img_dine_patientmeals.jpg); 
}

#secondary.relax #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#secondary.tv #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}


#secondary #background.textoverlay {
	opacity: 0.1; 
}

#secondary #selection	{
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#secondary #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#secondary #selection #body	{
	width: 625px;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#secondary #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#secondary #selection #body #nextpage:hover, #secondary #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#secondary #selection #body p	{
	width: 625px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#secondary #selection #body p.active	{
	display: inherit;
}

	
#secondary #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#secondary #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
	margin:-100px 0px 0px 0px;
	
}

#secondary #selection #body p span.bottom	{
	float: bottom;
	color: rgba(255,255,102,1.00);
	margin: 30px 0px 0px 0px;
	
	
}

#secondary #selection #body p span1	{
	width: 75%;
	float: left;
}

#secondary #selection #body p span2	{
	width: 25%;
	float: right;
	text-align: right;
}

#secondary #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#secondary #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#secondary #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#secondary #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body p.middle	{
	margin-top: 200px;
}

#secondary #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#secondary #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#secondary #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#secondary #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#secondary #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#secondary #selection #body p.nomargin	{
	margin-top: 0px;
}

#secondary #selection #body ul.topmargin,
#secondary #selection #body p.topmargin	{
	margin-top: 40px;
}

#secondary #selection #body p.lower	{
	margin-top: 100px;
}

#secondary #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#secondary #selection #body p.leftmargin	{
	margin-left: 50px;
}

#secondary #selection #body p.highlight,
#secondary #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#secondary #selection #body p.lightcolor,
#secondary #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#secondary #selection #body p.nocolor,
#secondary #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body p.italic,
#secondary #selection #body p span.italic	{
	font-style: italic;
}

/* secondary.noimages */

#secondary.noimages #background {
	display: none;
}

#secondary.noimages #selection #carousel a img	{
	display: none;
}

/* secondary.lightdark */

#secondary.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#secondary.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

#secondary.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* secondary.darklight */

#secondary.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#secondary.tv.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

#secondary.darklight #banner p	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#secondary.darklight #selection #heading,
#secondary.darklight #selection #body,
#secondary.darklight #selection #body p,
#secondary.darklight #selection #body p span,
#secondary.darklight #selection #body ul,
#secondary.darklight #selection #body ul li,
#secondary.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #selection #title	{
	background: rgba(254,255,153,1.00);
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #selection #focus	{
	border: 8px rgba(254,255,153,1.00) solid;
	border-top: 20px rgba(254,255,153,1.00) solid;
}

#secondary.darklight #selection #slider #movie	{
	color: rgba(23,62,89,1.00);
}
