*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}


/* settings */

#settings {
	background: url(../images/bk_hires_spaulding_intro2.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
	z-index: 0;
}


#settings #heading {
	width: 400px;
	height: 40px;
	margin: 55px 0px 0px 800px;
	display: inline-block;
	position: absolute;
}

#settings #heading p {
	width: 400px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	color: #ffff66;
	margin: 0px 0px 0px 0px;
	text-align: right;
	float: right;
	position: relative;
}

#settings #instruction {
	width: 1075px;
	margin: 150px 0px 0px 125px;
	display: inline-block;
	position: absolute;
}

#settings #instruction p {
	width: 1075px;
	min-height: 30px;
	line-height: 36px;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	float: left;
	position: relative;
}

#settings #instruction p span {
	color: rgba(255,255,102,1.0);
}

#settings #options {
	width: 975px;
	min-height: 50px;
	margin: 280px 0px 0px 175px;
	display: inline-block;
	position: absolute;
}

#settings #options a {
	background: url(../images/checkbox.png) top left no-repeat;
	color: white;
	width: 900px;
	height: 50px;
	font-size: 34px;
	line-height: 50px;
	margin: 0px 0px 0px 0px;
	padding-left: 75px;
	text-align: left;
	float: left;
	position: relative;
}

#settings #options a.active {
	background: #f58025 url(../images/checkbox.png) top left no-repeat;
}

#settings #options a.button.active {
	background: #f58025;
}

#settings #options a.active.selected {
	background: #f58025 url(../images/checkedbox.png) top left no-repeat;
}

#settings #options a.selected {
	background: url(../images/checkedbox.png) top left no-repeat;
}

#settings #options p {
	width: 900px;
	height: 50px;
	line-height: 50px;
	font-size: 34px;
	color: rgba(255,255,102,1.0);
	margin: 10px 0px 0px 75px;
	text-align: left;
	float: left;
	position: relative;
}

#settings #options a.button {
	background: url(../images/btn_intro2.png) top center no-repeat;
	color: white;
	width: 460px;
	height: 50px;
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	margin: 20px 0px 0px 0px;
	padding: 0;
	vertical-align: middle;
	position: relative;
}

#settings #options a.left {
	float: left;
}

#settings #options a.right {
	float: right;
}

#settings #buttons a.cancel {
	float: right;
}

#settings #buttons a.active {
	background: #f58025;
}

/* settings lightdark */

#settings.lightdark {
	background: #455660;
}

#settings.lightdark #instruction p span {
	color: rgba(255,255,255,1.00);
}

#settings.lightdark #options a.active {
	background: rgba(0,138,175,1.00) url(../images/checkbox.png) top left no-repeat;
}

#settings.lightdark #options a.button.active {
	background: rgba(0,138,175,1.00);
}

#settings.lightdark #options a.active.selected {
	background: rgba(0,138,175,1.00) url(../images/checkedbox.png) top left no-repeat;
}

#settings.lightdark #buttons a {
	background: url(../images/btn_intro3-bk2.png) top center no-repeat;
	color: rgba(255,255,153,1.00);	
}

#settings.lightdark #buttons a.active {
	background: rgba(0,138,175,1.00);
}

/* settings darklight */

#settings.darklight {
	background: #d1d6d9;
}

#settings.darklight #heading p {
	color: rgba(0,102,153,1.00);
}

#settings.darklight #instruction p,
#settings.darklight #instruction p span {
	color: rgba(23,62,89,1.00);
}

#settings.darklight #options p {
	color: rgba(0,102,153,1.00);
}

#settings.darklight #options a {
	color: rgba(23,62,89,1.00);
}

#settings.darklight #options a.active {
	background: rgba(254,255,153,1.00) url(../images/checkbox.png) top left no-repeat;
}

#settings.darklight #options a.button.active {
	background: rgba(254,255,153,1.00);
}


#settings.darklight #options a.active.selected {
	background: rgba(254,255,153,1.00) url(../images/checkedbox.png) top left no-repeat;
}

#settings.darklight #buttons a {
	background: url(../images/btn_intro3-bk3.png) top center no-repeat;
	color: rgba(23,62,89,1.00);	
}

#settings.darklight #buttons a.active {
	background: rgba(254,255,153,1.00);
}
